@font-face {
  font-family: 'EuroScope'; /* 1. 自定义字体名称 */
  src: url('https://github.com/Flyatcsim-Sector-Studio/China-Sector-Package-Tutorial/raw/refs/heads/main/docs/stylesheets/fonts/EuroScope.woff2') format('woff2'), /* 2. 字体路径 */
       /*
       url('./fonts/EuroScope.ttf') format('truetype');
       */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SarasaUiSC-Regular'; /* 1. 自定义字体名称 */
  src: url('https://github.com/Flyatcsim-Sector-Studio/China-Sector-Package-Tutorial/raw/refs/heads/main/docs/stylesheets/fonts/SarasaUiSC-Regular.woff2') format('woff2'), /* 2. 字体路径 */
       /*
       url('./fonts/SarasaUiSC-Regular.ttf') format('truetype');
       */
  font-weight: normal;
  font-style: normal;
}

:root {
  --md-code-font: EuroScope, 'EuroScope', JetBrains Mono, 'JetBrains Mono';
  --md-text-font: SarasaUiSC-Regular, 'SarasaUiSC-Regular';
}
